/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Properties */

:root {
   --bkg-color-black: #000000 
}


/* Utilities */

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.text-blue {
    color: #2c89c9;
}

/* Header */

h1 {
    color: #e53170;
    font-size: 40px;
    padding-top: 40px;
}


/* Generic */

.container{
    max-width: 1080px;
    margin: 0 auto;
}


/* Main */

p {
    font-size: 20px;
    padding: 40px 0;
}

.column {
   width: calc(100% / 3 - 10px);
   background-color: var(--bkg-color-black);
   float: left;
   margin: 0 5px;
}

.column::after {
    content: '';
    display: block;
    clear: both;
}

img {
    width: 100px;
    float: left;
    margin-right: 10px;
}

span {
    display: block;
    line-height: calc(80px / 3);
}

span,h2 {
    vertical-align: middle;
}

h2 {
    line-height: calc(80px / 3);
    padding-top: 10px;
}

